<div class="container">
  <div class="row">
      <div class="head">
            <span> </span>
            <h3>Зареєструватись: </h3>
        </div>


<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, class:"form-control" %>
  </div>
  <div class="field">
    <%= f.label "Ім'я доктора"%><br />
    <%= f.text_field :doctor_first_name, autofocus: true , class:"form-control"%>
  </div>
  <div class="field">
    <%= f.label "Прізвище" %><br />
    <%= f.text_field :doctor_second_name, autofocus: true , class:"form-control"%>
  </div>
  <div class="field">
    <%= f.label "Ціна за годину" %><br />
    <%= f.number_field :doctor_hour_price, autofocus: true , class:"form-control"%>
  </div>
  <div class="field">
    <%= f.label "Пароль" %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> символіів мінімум)</em>
    <% end %><br />
    <%= f.password_field :password, class:"form-control"%>
  </div>

  <div class="field">
    <%= f.label "Підтвердження паролю" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" , class:"form-control"%>
  </div>

  <div class="actions">
    <%= f.submit "Зареєструватись" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>

  </div>
</div>
