<div class="container">
  <div class="row">
    <p id="notice"><%= notice %></p>
        <div class="head">
            <span> </span>
            <h3>Новий пацієнт</h3>
        </div>
      <div class="col-lg-6">
        <img src="../assets/doctor-image.png" alt="" />
      </div>
      <div class="col-lg-6 doctor-show">
<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Surname:</strong>
  <%= @user.surname %>
</p>

<p>
  <strong>Age:</strong>
  <%= @user.age %>
</p>

<p>
  <strong>Status:</strong>
  <%= @user.status %>
</p>

<p>
  <strong>Enter date:</strong>
  <%= @user.enter_date %>
</p>

<p>
  <strong>Doctor:</strong>
  <%= @user.doctor.doctor_first_name + " " + @user.doctor.doctor_second_name %>
</p>

<p>
  <strong>Diagnoz:</strong>
  <%= @user.diagnoz %>
</p>
</div>
<%= link_to 'Редагувати', edit_user_path(@user), class:"myBtn"  %> 
<%= link_to 'Назад', users_path, class:"myBtn myBtn2" %>

  </div>
</div>
