<div class="container">
  <div class="row">
  <p id="notice"><%= notice %></p> 
    <div class="head">
        <span> </span>
        <h3>Список докторів</h3>
    </div>


<table class="table table-striped">
  <thead>
    <tr>
      <th>Ім'я</th>
      <th>Прізвище</th>
      <th>Сумма за тиждень</th>
      <th>Пацієнти за тиждень</th>
      <th>Пацієнти за весь час</th>

    </tr>
  </thead>

  <tbody>
    <% @doctor.each do |doc| %>
      <tr>
        <td><%= doc.doctor_first_name %></td>
        <td><%= doc.doctor_second_name %></td>
        <td><%= doc.set_current_money %></td>
        <td><%= doc.set_user_count_seven_days %></td>
        <td><%= doc.set_user_count_all_time %></td>


        <td><%= link_to 'Переглянути', doc %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
  </div>
</div>  