<div class="container">
  <div class="row">
  <p id="notice"><%= notice %></p> 
    <div class="head">
        <span> </span>
        <h3>Список докторів</h3>
    </div>

    <!-- <div id="doc_diagram"></div> -->
  <%= content_tag :div, "", id: "doc_diagram", data: {doctor: 
    @doctor} %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Ім'я</th>
      <th>Прізвище</th>
      <th>Сумма за тиждень</th>
    </tr>
  </thead>

  <tbody>
    <% @doctor.each do |doc| %>
      <tr>
        <td><%= doc.doctor_first_name %></td>
        <td><%= doc.doctor_second_name %></td>
        <td><%= doc.current_money %></td>
        <td><%= link_to 'Переглянути', doc %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
  </div>
</div> 
<script>
  window.onload = function() {
    Morris.Bar({
      element: 'doc_diagram',
      data: $('#doc_diagram').data('doctor'),
      xkey: 'doctor_first_name',
      ykeys: ['doc.current_money'],
      labels: ['Заробив за останній тиждень']
    });
};
</script>