<div class="container">
  <div class="row">
  <p id="notice"><%= notice %></p> 
    <div class="head">
        <span> </span>
        <h3>Рейтинг лікарів по зарплатні</h3>
    </div>

    <!-- <div id="doc_diagram"></div> -->
  <%= content_tag :div, "", id: "hour_price_ranking", data: {doctor: 
    @doctor} %>
<br>
<br>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Ім'я</th>
      <th>Прізвище</th>
      <th>Зарплатня у (грн) за прийом</th>
    </tr>
  </thead>

  <tbody>
    <% @doctor.each do |doc| %>
      <tr>
        <td><%= doc.doctor_first_name %></td>
        <td><%= doc.doctor_second_name %></td>
        <td><%= doc.doctor_hour_price  %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
    <div class="head">
        <span> </span>
        <h3>Заробили за останній тиждень</h3>
    </div>
  <%= content_tag :div, "", id: "week_ranking", data: {doctor: 
    @doctor} %>
<br>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Ім'я</th>
        <th>Прізвище</th>
        <th>Сумма</th>
      </tr>
    </thead>

    <tbody>
      <% @doctor.each do |doc| %>
        <tr>
          <td><%= doc.doctor_first_name %></td>
          <td><%= doc.doctor_second_name %></td>
          <td><%= doc.set_current_money  %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<br>


    <div class="head">
        <span> </span>
        <h3>Рейтинг лікарів по кількості пацієнтів за весь час</h3>
    </div>
    <br>
  <%= content_tag :div, "", id: "doctor_all_time_users", data: {doctor: 
    @doctor} %>
    <br>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>Ім'я</th>
          <th>Прізвище</th>
          <th>Кількість пацієнтів за весь час </th>
        </tr>
      </thead>

      <tbody>
        <% @doctor.each do |doc| %>
          <tr>
            <td><%= doc.doctor_first_name %></td>
            <td><%= doc.doctor_second_name %></td>
            <td><%= doc.doctor_all_time_users*125 %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
<br>

    <div class="head">
        <span> </span>
        <h3>Рейтинг лікарів по кількості пацієнтів за останні 7 днів</h3>
    </div>
    <br>
  <%= content_tag :div, "", id: "user_count_seven_days", data: {doctor: 
    @doctor} %>
    <br>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Ім'я</th>
          <th>Прізвище</th>
          <th>Кількість пацієнтів за 7 днів </th>
        </tr>
      </thead>

      <tbody>
        <% @doctor.each do |doc| %>
          <tr>
            <td><%= doc.doctor_first_name %></td>
            <td><%= doc.doctor_second_name %></td>
            <td><%= doc.user_count_seven_days*14 %></td>
          </tr>
        <% end %>
      </tbody>
    </table>


  </div>
</div> 
<script>
  $(document).ready(function() {
      
    Morris.Bar({
      element: 'week_ranking',
      data: $('#week_ranking').data('doctor'),
      xkey: 'doctor_first_name',
      ykeys: ['doctor_week_price'],
      labels: ['Рейтинг зарплат за тиждень']
    });


});  
$(document).ready(function() {
      
    Morris.Bar({
      element: 'hour_price_ranking',
      data: $('#hour_price_ranking').data('doctor'),
      xkey: 'doctor_first_name',
      ykeys: ['doctor_hour_price'],
      labels: ['Ціна за годину']
    });


});  
$(document).ready(function() {
      
    Morris.Bar({
      element: 'doctor_all_time_users',
      data: $('#doctor_all_time_users').data('doctor'),
      xkey: 'doctor_first_name',
      ykeys: ['doctor_all_time_users'],
      labels: ['Пацієнти за весь час']
    });

});
$(document).ready(function() {
      
    Morris.Bar({
      element: 'user_count_seven_days',
      data: $('#user_count_seven_days').data('doctor'),
      xkey: 'doctor_first_name',
      ykeys: ['user_count_seven_days'],
      labels: ['Пацієнти останні 7 днів']
    });

});

</script>

