<!DOCTYPE html>
<html ng-app>
<head> 
  <title>Hospital</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="../assets/favicon.png" rel="shortcut icon" type="image/x-icon" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="application/x-javascript">
        addEventListener("load", function() {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
    <script type="text/javascript">
        $(function() {
            $('nav#menu-left').mmenu();
        });
    </script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<p class="notice"><%= notice %></p>
<p class="aleert"><%= alert %></p>
 <div id="page">
        <div id="header">
            <a class="navicon" href="#menu-left"> </a>
        </div>
        <nav id="menu-left">
            <ul>
                <li class="active"><a href="/">Головна</a></li>
                <li><a href="/about/index">Про нас</a></li>
                <li><a href="/news">Новини</a></li>
                <li><a href="/contact/index">Контакти</a></li>
                <li><a href="/prices">Ціни</a></li>
                <% if doctor_signed_in? %>
                    <li>
                        <%= link_to 'Кабінет', doctor_path(current_doctor) %>
                    </li>
                    <li>
                        <%= link_to 'Додати пацієнта', new_user_path %>
                    </li>
                    <li><a href="/users">Паціенти</a></li>
                    <li>
                        <%= link_to('Вийти', destroy_doctor_session_path) %> 
                    </li>
                    <% else %>
                    <li>
                        <%= link_to 'Увійти', new_doctor_session_path %>
                    </li>
                    <li>
                        <%= link_to 'Зареєструватися', new_doctor_registration_path%>
                    </li>
                <% end %>
            </ul>
        </nav>
    </div>
    <div class="header" id="move-top">
        <div class="wrap">
            <div class="header-left">
                <div class="logo">
                    <a href="/"><img src="../assets/hospital_logo.png" alt="" />
                </div>
            </div>
            <div class="header-right">
                <div class="top-nav">
                    <ul>
                        <li class="active"><a href="/">Головна</a></li>
                        <li><a href="/about/index">Про нас</a></li>
                        <li><a href="/news">Новини</a></li>
                        <li><a href="/contact/index">Контакти</a></li>
                        <li><a href="/prices">Ціни</a></li>
                            <% if doctor_signed_in? %>
                                <li>
                                    <%= link_to 'Кабінет', doctor_path(current_doctor) %>
                                </li>
                                <li>
                                    <%= link_to 'Додати пацієнта', new_user_path %>
                                </li>
                                <li><a href="/users">Паціенти</a></li>
                                <li>
                                    <%= link_to('Вийти', destroy_doctor_session_path) %> 
                                </li>
                                <% else %>
                                <li>
                                    <%= link_to 'Увійти', new_doctor_session_path %>
                                </li>
                                <li>
                                    <%= link_to 'Зареєструватися', new_doctor_registration_path%>
                                </li>
                             <% end %>
                    </ul>
                </div>
        </div>
        <div class="clear"> </div>
    </div>

 	<%= yield %>


     <div class="contact" id="contact">
        <div class="wrap">
            <div class="contact-left">
                <div class="contact-head">
                    <span> </span>
                    <h3>Зв'яжіться з нами</h3>
                </div>
                <form>
                    <div class="form-left">
                        <input type="text" placeholder="Ім'я: " required />
                        <input type="text" placeholder="Email: " required />
                        <input type="text" placeholder="Телефон: " required />
                    </div>
                    <div class="form-right">
                        <textarea rows="2" cols="70" onfocus="if(this.value == 'Comment') this.value='';" onblur="if(this.value == '') this.value='Comment';" placeholder="Коментар"></textarea>
                    </div>
                    <div class="clear"> </div>
                    <p class="text-center"><a href="#" class="btn btn-primary btn-lg" role="button" data-toggle="modal" data-target="#login-modal">Відіслати лист</a></p>
                    <div class="clear"> </div>
                </form>
            </div>
            <div class="contact-right">
                <div class="contact-head">
                    <span> </span>
                    <h3>Цінуй життя</h3>
                </div>
                <div class="flicker-grids">
                    <ul>
                        <li>
                            <a href="#"><img src="../assets/f1.jpg" alt="" /></a>
                        </li>
                        <li>
                            <a href="#"><img src="../assets/f2.jpg" alt="" /></a>
                        </li>
                        <li>
                            <a href="#"><img src="../assets/f3.jpg" alt="" /></a>
                        </li>
                        <li>
                            <a href="#"><img src="../assets/f4.jpg" alt="" /></a>
                        </li>
                        <li>
                            <a href="#"><img src="../assets/f5.jpg" alt="" /></a>
                        </li>
                        <li>
                            <a href="#"><img src="../assets/f6.jpg" alt="" /></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="clear"> </div>
        </div>
    </div>


    <script>
        $(function() {
            $('.pink').hoverZoom({
                overlay: true, // false to turn off (default true)
                overlayColor: '#51A3C8', // overlay background color
                overlayOpacity: 0.7, // overlay opacity
                zoom: 0, // amount to zoom (px)
                speed: 300 // speed of the hover
            });


        });
    </script>
     <script type="text/javascript">
        $(function() {

            $('#da-slider').cslider({
                autoplay: true,
                bgincrement: 450
            });

        });
    </script>
        <script type="text/javascript">
            $(window).load(function() {
                $("#flexiselDemo3").flexisel({
                    visibleItems: 3,
                    animationSpeed: 1000,
                    autoPlay: true,
                    autoPlaySpeed: 3000,
                    pauseOnHover: true,
                    enableResponsiveBreakpoints: true,
                    responsiveBreakpoints: {
                        portrait: {
                            changePoint: 480,
                            visibleItems: 1
                        },
                        landscape: {
                            changePoint: 640,
                            visibleItems: 2
                        },
                        tablet: {
                            changePoint: 768,
                            visibleItems: 3
                        }
                    }
                });
            });
            </script>
            <script src="/assets/jquery.cslider.js"></script>

<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" align="center">
                    <img class="img-circle" id="img_logo" src="../assets/testanimation.gif">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </button>
                </div>
                
                <!-- Begin # DIV Form -->
                <div id="div-forms">
                
                    <!-- Begin # Login Form -->
                    <form id="login-form">
                        <div class="modal-body">
                            <div id="div-login-msg">
                                <div id="icon-login-msg" class="glyphicon glyphicon-chevron-right"></div>
                                <span id="text-login-msg">Введіть Email та повідомлення:</span>
                            </div>
                            <input id="login_password" class="form-control" type="text" placeholder="Email" required>
                            <textarea class="form-control" placeholder="Повідомлення" ></textarea>
                        </div>
                        <div class="modal-footer">
                            <div>
                                <button type="submit" class="btn btn-primary btn-lg btn-block">Відправити</button>
                            </div>
                        </div>
                    </form>
                    <!-- End # Login Form -->
                    
                    <!-- Begin | Lost Password Form -->
                    <form id="lost-form" style="display:none;">
                        <div class="modal-body">
                            <div id="div-lost-msg">
                                <div id="icon-lost-msg" class="glyphicon glyphicon-chevron-right"></div>
                                <span id="text-lost-msg">Type your e-mail.</span>
                            </div>
                            <input id="lost_email" class="form-control" type="text" placeholder="E-Mail (type ERROR for error effect)" required>
                        </div>
                        <div class="modal-footer">
                            <div>
                                <button type="submit" class="btn btn-primary btn-lg btn-block">Send</button>
                            </div>
                            <div>
                                <button id="lost_login_btn" type="button" class="btn btn-link">Log In</button>
                                <button id="lost_register_btn" type="button" class="btn btn-link">Register</button>
                            </div>
                        </div>
                    </form>
                    <!-- End | Lost Password Form -->
                    
                    <!-- Begin | Register Form -->
                    <form id="register-form" style="display:none;">
                        <div class="modal-body">
                            <div id="div-register-msg">
                                <div id="icon-register-msg" class="glyphicon glyphicon-chevron-right"></div>
                                <span id="text-register-msg">Register an account.</span>
                            </div>
                            <input id="register_username" class="form-control" type="text" placeholder="Username (type ERROR for error effect)" required>
                            <input id="register_email" class="form-control" type="text" placeholder="E-Mail" required>
                            <input id="register_password" class="form-control" type="password" placeholder="Password" required>
                        </div>
                        <div class="modal-footer">
                            <div>
                                <button type="submit" class="btn btn-primary btn-lg btn-block">Register</button>
                            </div>
                            <div>
                                <button id="register_login_btn" type="button" class="btn btn-link">Log In</button>
                                <button id="register_lost_btn" type="button" class="btn btn-link">Lost Password?</button>
                            </div>
                        </div>
                    </form>
                    <!-- End | Register Form -->
                    
                </div>
                <!-- End # DIV Form -->
                
            </div>
        </div>
    </div>
    <!-- END # MODAL LOGIN -->

</body>
</html>
